html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
header {
  border-bottom: 1px solid #c6c6c6;
}
.container {
  background-color: white;
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  /* border: 1px solid red;  */
}

#web-logo {
  width: 127px;
}

.user-profile-pic {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
